<ion-header [translucent]="true">
  
</ion-header>

<ion-content  class="Content-Background" [fullscreen]="true">
  <ion-img src="assets/space_flix_logo.svg" alt="Logo Spaceent"></ion-img>
  <ion-header collapse="condense"></ion-header>
  <ion-card class="card-login">
    <ion-img class="card-img" src="assets/singup-login_space_flix.svg" alt="Logo Spaceent"></ion-img>
    <ion-card-header>
      <ion-card-title>Crea tu cuenta SpaceFlix</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> 
      <ion-item>
        <ion-input label="Usuario:" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Correo:" type="mail"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Contraseña:" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Número:" placeholder="Incluir código país" type="tel" maxlength="13"></ion-input>
      </ion-item>
         
    </ion-card-content>
  </ion-card>
  <ion-button class="centered-button" (click)="presentAlert()">Registrarse</ion-button>

  <br>
  <ion-text class="centered-text">¿Ya tienes una cuenta? <ion-text class="register-text">Inicia sesion</ion-text> </ion-text> 
  <br> 

</ion-content>


