.pagina-completa {
  background: linear-gradient(to bottom, #9354A3, #BF6196);
  min-height: 100vh; /* Asegura que el degradado cubra toda la altura de la página */
  display: flex;
  flex-direction: column;
}

.pagina-completa .rounded-searchbar {
  --border-radius: 40px;
  --background: white;
  --placeholder-color: #666;
  --placeholder-font-style: italic;

 box-shadow: none; /* Elimina la sombra */
}


/* Eliminar el fondo en ion-content */
.content-background {
  --background: none;
}

/* Estilos para el contenido de la cabecera */
.contenedor-cabecera {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 20px;
}



/* Estilos para el segmento */
.menu-segment {
  --background: transparent;
  --indicator-color: white;
  --color-checked: white;
  --color: white;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --border-radius: 10px;
  margin: 16px;
  position: relative; /* Asegura que el pseudo-elemento esté posicionado correctamente */
  font-size: 1.2em;
  
}

/* Estilo adicional para ajustar el ancho del indicador */

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#rounded-box {
  background-color: #8f22d7;
  border-radius: 20px;
  padding: 10px;
  color: #fff; /* Sin espacios adicionales */
}
/* Estilo para el texto del menú en el tono #BF6196 */
.señalar-menu {
  color: #BF6196;
}

.Negritas{
  font-weight: bold;
  font-size: 1.4em;
  
}

.señalar-menu{
  color: #9354A3;
  font-weight: bold;
}
