<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Agrega elementos de menú aquí -->
    <ion-list>
      <ion-item>Cerrar Menú</ion-item>
      <!-- Agrega más elementos de menú según tus necesidades -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Content-Background" [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <cardservicescomponent></cardservicescomponent>
    </ion-toolbar>
  </ion-header>


  <!-- Contenido principal aquí -->
</ion-content>
