<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="Negritas">Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>  
    <ion-title class="Negritas" slot="end">
      Saldo Actual: 0
    </ion-title>
  </ion-toolbar>
</ion-header>


  <div class="pagina-completa">
  <ion-content id="main-content" class="content-background">
 
    <div class="contenedor-cabecera">
      <h1 class="Negritas">¿Qué te gustaría ver hoy?</h1>
    </div>
       
  <ion-searchbar class="rounded-searchbar" placeholder="Buscar..."></ion-searchbar>

    <ion-segment [(ngModel)]="valorSegmento" >

      <ion-segment-button value="pantallas" class="menu-segment">
        <ion-label>Pantallas</ion-label>
      </ion-segment-button>

      <ion-segment-button value="cuentas" class="menu-segment">
        <ion-label>Cuentas</ion-label>
      </ion-segment-button>
      
    </ion-segment>
    <!-- Aquí va el contenido basado en la selección del segmento -->
  </ion-content>
</div>
